.bg-1{
    background: url("../img/3.jpeg");
    background-size:cover;
    background-attachment:fixed;
    /*--------设置背景----------*/
}
.bg-2{
    background: url("../img/2.jpg");
    background-size:cover;
    background-attachment:fixed;
    /*--------设置背景----------*/
}
.bg-3{
    background: url("http://pic1.win4000.com/wallpaper/2/51ce56b71358d.jpg");
    background-size:cover;
    background-attachment:fixed;
    /*--------设置背景----------*/
}
.bg-4{
    background: url("http://pic1.win4000.com/wallpaper/5/51cf96c8b3ae1.jpg");
    background-size:cover;
    background-attachment:fixed;
    /*--------设置背景----------*/
}
.bg-5{
    background: url("http://pic1.win4000.com/wallpaper/f/51ce4f37954cc.jpg");
    background-size:cover;
    background-attachment:fixed;
    /*--------设置背景----------*/
}




/*
*********padded是内部间距************
*********margin是外部间距************


*/
/*------margin外间距-------*/
.m-margin-right{
    margin-right: 1em!important;
}

.m-margin{
    margin: 0.5em!important;
}
.m-margin-huge{
    margin: 5em!important;
}

.m-margin-top-small{
    margin-top:0.5em!important;
}
.m-margin-top-big{
    margin-top:1em!important;
}
.m-margin-top-huge{
    margin-top:2em!important;
}


.m-margin-tb-tiny{
    margin-top:0.3em!important;
    margin-bottom: 0.3em!important;
}

.m-margin-left{
    margin-left: 2em!important;
}

.m-margin-bottom-small{
    margin-bottom: 0.5em!important;
}

/*-----padded内间距------*/
.m-padded-mini{
    padding: 0.2em !important;
}

.m-padded-tiny{
    padding: 0.3em !important;/*----全方位设置为0.3em----*/
}

.m-padded{
    padding: 1em !important;/*----全方位设置为0.3em----*/
}
.m-padded-big{
    padding: 2em !important;/*----全方位设置为0.3em----*/
}



.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/*---设置响应式 当达到某个节点时触发-----*/
.m-padded-lr-responsive{
    padding-left: 2em!important;
    padding-right: 2em!important;
}

.m-padded-lr{
    padding-left: 1em!important;
    padding-right: 1em!important;
}

.m-padded-right-big{
    padding-right: 3em!important;
}

/*----------text------------*/
.m-text{
    font-weight: 300 !important;/*字体粗细*/
    letter-spacing: 1px!important;/*字间距*/
    line-height: 1.8!important;



}
.m-text-thin{
    font-weight: 300 !important;/*字体粗细*/
}
.m-text-weight{
    font-weight: 450!important;
}

.m-text-spaced{
    letter-spacing: 1px!important;/*字间距*/
}
.m-text-lined{
    line-height: 1.8!important;
}


.m-text-font-1{
    font-family: 字酷堂海藏楷体 ;
}

/*-------opacity--------*/
.m-segment-opacity-small{
    opacity: 0.9!important;
}
.m-segment-opacity{
    opacity:1!important;
}



.m-text-opacity-mini{
    opacity: 0.8!important;
}
.m-text-opacity-small{
    opacity: 0.6!important;
}


/*------position-------*/
.m-right-top{
    position:absolute ;
    /*直接position 用absolute布局*/
    top:0;
    right:0;
}
/*-----display-------*/
.m-inline-block{
    display: inline-block!important;
}

/*--------container--------*/
.m-container{
    max-width: 72em!important;
    margin:auto!important;/*设置自己的container 避免左边栏太宽 */
    /*margin使其居中*/
}
.m-container-small{
    max-width: 60em!important;
    margin:auto!important;/*设置自己的container 避免左边栏太宽 */
    /*margin使其居中*/
}

/*------shadow----------*/
.m-shadow-small{
    -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.2)!important ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2)!important;
}
.m-shadow-big{
    -webkit-box-shadow:0 10px 20px rgba(0,0,0,0.2)!important ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2)!important;
}

/*--------img-----------*/
.m-img-size-tiny{
    height: 100px!important;
    width: 200px!important;
}

/*--------color--------*/
.m-color{
    color: #1d75b3!important;
}
/*-----float-------*/
.m-right-float{
    float: right;
}

/*---------用一些图标在自适应的时候隐藏图标------------*/
.m-mobile-show{
    display: none!important;


}

/*-------在手机端时的scren
          当像素小于768像素时 会产生的效果-------------*/
@media screen and (max-width: 768px) {
        .m-mobile-hide{
            display: none !important;
        }
        .m-mobile-show{
            display: block!important;
        }
}
        .m-padded-lr-responsive{
            padding-right: 0em!important;
            padding-left: 0em!important;
        }
        .m-mobile-lr-clear{
            padding-right: 0em!important;
            padding-left: 0em!important;
}
        .m-mobile-wide{
            width: 100%!important;
        }
