<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>
</head>
<body class="bg-1">
    <!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="fragment::menu(0)">
    </nav>

    <!--中间部分-->
    <!--设置自己的container-->
    <div class="m-container m-padded-tb-big ">

        <!--semantic 的container适应移动端-->
        <div class="ui container">
            <div class="ui stackable  grid">
                <!--左边博客列表-->
                <div class="eleven wide column">
                    <!--header-->
                    <div class="ui top attached segment"><!--top/ / bottom 将三个segment连在一起-->
                        <div class="ui middle aligned two column grid"><!--设置俩个的grid-->
                            <!--middle aligned设置为垂直居中-->
                            <div class="column">
                                <h3 class="ui teal header">博客</h3>
                            </div>
                            <div class="right aligned column">
                                <!--right aligned设置为右对齐-->
<!--
                                共<h2 class="ui orange header m-inline-block">14</h2>篇&lt;!&ndash;m-inline-block属性将h3的block性质修改&ndash;&gt;
-->
                            </div>
                        </div>
                    </div>
                    <!--content-->
                    <div class="ui attached segment">
                        <div class="ui  padded vertical segment m-padded-big m-padded-right-big" th:each="blog:${pageInfo.list}">
                            <div class="ui mobile  reversed stackable  grid">
                                <!--stackable
                                 ???????mobile  reversed 无法倒置??????-->

                                    <div class="eleven wide column">
                                        <h3 class="ui header" ><a href="" th:href="@{'/blog/'+${blog.id}}"th:text="${blog.title}"></a></h3>
                                        <p class="m-text m-text-font-1 " th:text="${blog.description}+'......'">这个世界只有一种正义，就是对麻衣学姐的热爱，以及麻衣学姐就是一切的人间正义！...尽管有很多二次元，这部番也没有看完，但是哪个lsp不喜欢麻衣姐姐呢？...</p>
                                        <div class="ui grid">
                                            <div class="ui eleven wide column">
                                                <div class="ui mini horizontal link list">
                                                    <!--设置水平horizontal的列表------list=>item-->
                                                    <div class="item">
                                                        <!--关于用户的前端获取数据 待会再做-->
                                                        <img src="../static/img/1.jpg" th:src="@{${blog.getUser().avatar}}" alt="" class="ui avatar image" >
                                                        <div class="content"><a href="#" class="header" th:text="${blog.getUser().username}">呼噜</a></div>

                                                    </div>
                                                    <div class="item">
                                                        <i class="calendar icon" ></i>
                                                    </div>
                                                    <div class="item">
                                                        <div class="content" th:text="${#dates.format(blog.update_time,'yyyy-MM-dd')}">11</div>
                                                    </div>

                                                    <div class="item">
                                                        <i class="eye icon" ></i>
                                                    </div>
                                                    <div class="item">
                                                        <div class="content" th:text="${blog.views}"> 11</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="five wide column">
                                                <a href="#" target="_blank" class="ui teal basic label m-text-thin m-padded-tiny" th:text="${blog.getType().name}">认知升级</a><!--设置为连接-->

                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column m-right-float">
                                        <a href="#" target="_blank" ><!--打开新页面-->
                                            <!--首图-->
                                            <img src="./static/img/1.jpg" alt="" th:src="@{${blog.first_picture}}" class="ui rounded image m-img-size-tiny"></a>

                                    </div>


                            </div>
                        </div>

                    </div>
                    <!--footer-->
                    <div class="ui bottom attached segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <a href="#" target="_blank" class="ui teal basic button">上一页</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank" class="ui teal basic button">下一页</a><!--button做成链接形式-->
                            </div>


                        </div>
                    </div>
                </div>
                <!--右边的top-->
                <div class="ui five wide column">
                    <!--分类-->
                    <div class="ui segments">
                          <!--1.一个大的segments包裹内容
                               2.secondary segment 变灰的segment
                               3.再加一个segment包裹
                                    用menu形式===item-->
                          <div class="ui secondary segment">
                              <div class="ui two column grid">
                                  <div class="column">
                                      <i class="idea icon"></i>分类
                                  </div>
                                  <div class="right aligned column">
                                      <a href="#" target="_blank">more<i class="angle double right icon"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="ui teal segment">
                              <div class="ui fluid vertical attached menu" th:each="type:${typeTop}">
                                  <!--用fluid将菜单栏把segment填满-->
                                  <a href="" class="item" >
                                      <span th:text="${type.name}"></span>
                                      <span class="ui teal left pointing basic label" th:text="${type.num}">13</span>
                                  </a>


                              </div>


                          </div>

                      </div>
                    <!--标签-->
                    <!--此div用于调整上下俩个卡片的间距-->
                    <div class="ui segments m-margin-top-huge">
                          <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank">more<i class="angle double right icon"></i></a>
                                </div>
                            </div>
                           </div>
                            <div class="ui teal  segment " >
                                    <a href="#" target="_blank" class="ui teal basic label m-margin-tb-tiny m-margin" th:each="tag:${tagTop}">
                                        <span th:text="${tag.name}"></span>
                                        <span class="detail" th:text="${tag.num}">23</span><!--数字前有一个空格 detail事一个描述-->
                                    </a><!--将label做成标签形式-->
                            </div>
                     </div>

                    <!--最新推荐-->
                    <div class="ui segments m-margin-top-huge">
                        <!--1.一个大的segments包裹内容
                             2.secondary segment 变灰的segment
                             3.再加一个segment包裹
                                  用menu形式===item-->
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="bookmark icon"></i>最新推荐
                                </div>
                            </div>
                        </div>
                        <div class="ui segment" th:each="blogTop:${blogTop}">
                            <a href="#" target="_blank" class="m-color" >
                                <span th:text="${blogTop.title}" ></span>用户故事</a>
                        </div>

                    </div>
                    <!--二维码-->
                    <div class="ui horizontal divider m-margin-top-huge"> 扫码关注我</div>
                    <div class="ui centered card " style="width: 10em">
                        <img src="./static/img/wechat.png " th:src="@{/img/wechat.png}" class="ui rounded image" >
                    </div>


                </div>

                </div>

            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    <!--底部footer-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <!--将所有center aligned container里的内容居中  -->
            <!--container用于前端响应式来包裹一些元素-->
            <div class="ui inverted divided stackable grid">
                <!--用于写一列一列 grid有16columns
                divide 让grid分的column有线段间隔-->
                <div class="three wide column">
                    <div class="ui link list">
                        <div class="item">
                            <img src="static/img/wechat.png " th:src="@{/img/wechat.png}" class="ui rounded image" alt="" style="width: 100px" >
                        </div>
                    </div>

                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined ">最新博客</h4>
                    <div class="ui inverted link list m-text-thin">
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined ">联系我</h4>
                    <div class="ui inverted link list m-text-thin">
                        <a href="#" class="item">Tel:15851802630</a>
                        <a href="#" class="item">QQ:244959425</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined ">Blog</h4>
                    <p class="m-text-thin m-text-spaced m-text-lined m-text-opacity-mini">这是我的个人博客，有关编程，写作，思考的内容会在其中发布，希望能给看到的人有所帮助</p>
                </div>
            </div>
            <div class="ui inverted section divider "></div>
            <p class="m-text-opacity-small">Copyright 2021 calabash designed by calabash</p>
        </div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
            /*--------toggleClass方法有这个属性则去除 没这个属性则删去---------*/

        });
    </script>



</body>
</html>