# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java学习\newblog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
